@using Dashboard.Models
@model dynamic
@{
    Gutachter gutachter = Model.Gutachter;
    string text = Model.HelloWorld;          
}
           
<h1>Gutachter: @gutachter.Vorname</h1>
<h1>Text: @text</h1>

<button id="start">Show Grid!</button>
<div id="grid" style="display: none">TEST</div>
