@using Dashboard.Models
@model dynamic
@{
    Gutachter gutachter = Model.Gutachter;
    string text = Model.HelloWorld;          
}
           
<h1>1. Gutachter: @gutachter.Vorname</h1>

<input id="search" type="text" />
<button id="filterButton">Search Grid</button>
<div id="grid" style="margin-top: 10px;"></div>


@section scripts {
<script>    
    require(['myFirstModule', 'domReady'], function(myFirstModule) {
        myFirstModule.start();
    });
</script>
}
