@using Dashboard.Models
@model dynamic
@{
    Gutachter gutachter = Model.Gutachter;
    string text = Model.HelloWorld;          
}
           
<h1>Gutachter: @gutachter.Vorname</h1>
<h1>Text: @text</h1>

<input id="freight" type="text" />
<button id="start">Show Grid!</button>
<div id="grid" style="display: none; margin-top: 10px;">TEST</div>


@section scripts {
<script>    
    require(['myFirstModule'], function(myFirstModule) {
        myFirstModule.start('#start');
    });
</script>
}
